{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<!-- dark overlay for the side panel -->
<div class="dark-overlay" id='dark-overlay'></div>
<!-- side panel -->
<div class="side-panel" onmouseover="darkenOverlay()" onmouseout="lightenOverlay()">
    <div class="logo">

    </div>
    <!-- side navigation buttons -->
    <nav class="side-panel-icons">
        <!-- <div class="home-icon">
            <img src="{% static 'icons/home.png' %}" alt="home icon" id="icons">
        </div> -->
    </nav>
    <!-- logout button -->
    <div class="logout">

    </div>
</div>
<script>
    function darkenOverlay() {
        document.getElementById('dark-overlay').style.backgroundColor = 'rgba(0, 0, 0, 0.40)';
    }
    function lightenOverlay() {
        document.getElementById('dark-overlay').style.backgroundColor = 'rgba(0, 0, 0, 0)';
    }
</script>
{% endblock %}