div.side-panel {
    height: 100%;
    width: 5%;
    background-color: #E9DCC9;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: all 0.6s ease-in-out;
    > div.logout {
        height: 10%;
        width: 100%;
        background-color: red;
    }
    > div.logo {
        height: 10%;
        width: 100%;
        /* background-color: red; */
    }
}

div.side-panel:hover {
    background-color: rgb(234, 227, 214);
    width: 12%;
}

div#dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 5;
    transition: background-color 0.6s ease-in-out;
}

nav.side-panel-icons {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 50%;
    width: 100%;
    gap: 5%;
    /* background-color: yellow; */
}

div.home-icon {
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

div.home-icon:hover{
    box-shadow: 0px 1px 5px gray;
}

span.icon-span {
    margin-left: 2vh;
    img#icons {
        height: 5vh; width: 5vh;
    }
}

p#iconText1, p#iconText2, p#iconText3, p#iconText4 {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    transition-delay: 0.5s;
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    margin-left: 3vh;
    margin-right: 2vh;
}

/* BODY HTML */
div.main-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    margin-left: 5%;
}
div.welcome-header {
    /* border: 1px solid yellow; */
    > p#headerText {
        font-family: 'Lexand', sans-serif;
        font-weight: 300;
        font-size: 250%;
    }
}

div.button-container {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 80%;
    width: auto;
}

div.home-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 60%;
    /* background-color: gray; */
    > span.add-view-container {
        /* background-color: lightgray; */
        height: 49%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    > span.view-patient-container {
        /* background-color: lightgray; */
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

div.add-patient {
    height: 100%; width: 45%;
    background-color: #FCF5E5;
}

div.view-analytics {
    height: 100%; width: 45%;
    background-color: #FCF5E5;
}

div.view-patients {
    height: 100%; width: 93%;
    background-color: #FCF5E5;
}